#body {
    background-color: black;
}

#page {
    width: 70%;
    background-color: hsl(240, 24%, 37%);
    margin: auto;
    padding-bottom: 200px;
}

#parentbox {
    justify-content: space-evenly;
    display: flex;
}

.boxes {
    width: 35%;
    padding-bottom: 100px;
    background-color: blue;
    border: 3px solid black;
}

h1 {
    font-size: 60px;
    text-align: center;
}

a {
    color: black;
}

p {margin: 3px;}