body {
    background-color: hwb(240 14% 48%);
    overflow-y: scroll;
    margin: 0;
}

#maindiv {
    background-color: rgba(120, 193, 228, 0.877);
    width: 500px;
    height: 700px;
    display: inline-flex;
    border: 5px solid black;
    margin: auto;
}

header {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 90px;
    border: 5px solid black;
    display: block;
    margin: 0;
}

#title {
    font-size: 50px;
    margin: 0;
}

#titlebox {
    text-align: center;
    margin: auto;
    padding-top: 10px;
}