h1 {
    text-align: center;
}
#content {
    background-color: aqua;
    margin: auto;
    width: 75%;
    padding: 10px;
    border-radius: 10px;

}
#bigcon {
    background-color: rgb(128, 255, 255);
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 10px;
}
#smallcon {
    width: 30%;
}
.smallbox {
    background-color: white;
    margin: 10px;
    padding: 4px;
    border: 1px solid black;
}
.bigbox {
    background-color: white;
    margin: 10px;
    width: 40%;
    padding: 4px;
}
body {
    background-color: black;
}
.allboxes {
    border: 1px solid black;
    box-shadow: 5px 5px 1px black;
}